.home-style {
    width: 100%;
    height: 100%;
}

.landing-wrapper {
    width: 100%;
    height: 92vh;
    background: radial-gradient(transparent 70%, rgba(1,4,15,255));
}

.video-style {
    width: 100%;
    max-width: 100%;
    height: 92vh;
    object-fit: cover;
    opacity: 0.2;
}

.landing-title {
    max-width: 1300pt;
    position: absolute;
    margin-top: 15vh;
}